<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/basic.css" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>


    <%- include ('partials/header.ejs') %>
        <h1> Recommendations </h1>

        <div class="dropdown" style="margin-left: 30px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter By
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/maxCalo"> Maximum calorie count </a></li>
                <li><a class="dropdown-item" href="/isVegan">Vegan Meal</a></li>
                
            </ul>
        <hr class="solid">

        <!-- insert recommendation by -->
        <% food.forEach(meal=> {%>
            <section>
                <div class="container p-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= meal.item%>
                            </h5>
                            <p class="card-text">
                                <%= meal.restaurant%>
                            </p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#<%= meal._id %>">
                                See more
                            </button>
        
                            <!-- Modal -->
                            <div class="modal fade" id="<%= meal._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                <%= meal.restaurant%> - <%= meal.item%>
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
        
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Calories: <%= meal.calories%>
                                                    </p>
                                                    <p>Cal Fat: <%= meal.cal_fat%>
                                                    </p>
                                                    <p>Total Fat: <%= meal.total_fat%>
                                                    </p>
                                                    <p>Saturated Fat: <%= meal.sat_fat%>
                                                    </p>
                                                    <p>Trans Fat: <%= meal.trans_fat%>
                                                    </p>
                                                    <p>Cholesterol: <%= meal.cholesterol%>
                                                    </p>
                                                    <p>Sodium: <%= meal.sodium%>
                                                    </p>
                                                    <p>Carbs: <%= meal.total_carb%>
                                                    </p>
                                                </div>
                                                <div class="col-6">
                                                    <p>Fiber: <%= meal.fiber%>
                                                    </p>
                                                    <p>Sugar: <%= meal.sugar%>
                                                    </p>
                                                    <p>Protein: <%= meal.protein%>
                                                    </p>
                                                    <p>Vitamin A: <%= meal.vit_a%>
                                                    </p>
                                                    <p>Vitamin C: <%= meal.vit_c%>
                                                    </p>
                                                    <p>Calcium: <%= meal.calcium%>
                                                    </p>
                                                    <p>Salad: <%= meal.salad%>
                                                    </p>
                                                    <p>Vegan: <%= meal.vegan%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <%});%>
        
        <%- include ('partials/footer.ejs') %>
</body>

</html>